In [7]:
import os
import pandas as pd

In [8]:
cwd = os.getcwd() # dirname(abspath(__file__))
BASE_DIR = os.path.join(cwd)
DATA_DIR = os.path.join(BASE_DIR, 'data')

In [9]:
DATA_DIR

'C:\\Users\\DANISH\\Desktop\\PycharmProjects\\Scraping data and creating Data Science Pipline\\data'

In [10]:
os.listdir(DATA_DIR)

['1999.csv',
 '2000.csv',
 '2001.csv',
 '2002.csv',
 '2003.csv',
 '2004.csv',
 '2005.csv',
 '2006.csv',
 '2007.csv',
 '2008.csv',
 '2009.csv',
 '2010.csv',
 '2011.csv',
 '2012.csv',
 '2013.csv',
 '2014.csv',
 '2015.csv',
 '2016.csv',
 '2017.csv',
 '2018.csv',
 '2019.csv',
 '2020.csv']

In [14]:
my_data = os.path.join(DATA_DIR, '2019.csv')

In [15]:
os.path.exists(my_data)

True

In [16]:
df = pd.read_csv(my_data)

In [17]:
df

,Rank,Release Group,Worldwide,Domestic,%,Foreign,%.1
0,1,Avengers: Endgame,"$2,797,800,564","$858,373,000",30.7%,"$1,939,427,564",69.3%
1,2,The Lion King,"$1,656,943,394","$543,638,043",32.8%,"$1,113,305,351",67.2%
2,3,Frozen II,"$1,450,026,933","$477,373,578",32.9%,"$972,653,355",67.1%
3,4,Spider-Man: Far from Home,"$1,131,927,996","$390,532,085",34.5%,"$741,395,911",65.5%
4,5,Captain Marvel,"$1,128,274,794","$426,829,839",37.8%,"$701,444,955",62.2%
...,...,...,...,...,...,...,...
682,683,Jimi Hendrix Electric Church,"$1,818",-,-,"$1,818",100%
683,684,Game Day,"$1,624","$1,624",100%,-,-
684,685,The Hours and Times,"$1,273","$1,273",100%,-,-
685,686,The Untold Story,$790,$790,100%,-,-
686,687,The Portal,$685,-,-,$685,100%

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 687 entries, 0 to 686
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Rank           687 non-null    int64
 1   Release Group  687 non-null    object
 2   Worldwide      687 non-null    object
 3   Domestic       687 non-null    object
 4   %              687 non-null    object
 5   Foreign        687 non-null    object
 6   %.1            687 non-null    object
dtypes: int64(1), object(6)
memory usage: 21.5+ KB

In [19]:
df.tail(n=10)

,Rank,Release Group,Worldwide,Domestic,%,Foreign,%.1
677,678,TINY: The Life of Erin Blackwell,"$2,465","$2,465",100%,-,-
678,679,I Lost Albert 2019 Re-release,"$2,354","$2,354",100%,-,-
679,680,A German Youth,"$2,343","$2,343",100%,-,-
680,681,Serendipity,"$2,298","$2,298",100%,-,-
681,682,Jihadists,"$2,104","$2,104",100%,-,-
682,683,Jimi Hendrix Electric Church,"$1,818",-,-,"$1,818",100%
683,684,Game Day,"$1,624","$1,624",100%,-,-
684,685,The Hours and Times,"$1,273","$1,273",100%,-,-
685,686,The Untold Story,$790,$790,100%,-,-
686,687,The Portal,$685,-,-,$685,100%